<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

    <module name="global">
        <param name="randomSeed" value="4711" />
        <param name="coordinateSystem" value="Atlantis" />
    </module>

    <module name="network">
        <param name="inputNetworkFile" value="network.xml" />
    </module>

    <module name="plans">
        <param name="inputPlansFile" value="plans.xml" />
    </module>

    <module name="controller">
        <param name="outputDirectory" value="./output/truck" />
        <param name="lastIteration" value="10" />
    </module>

    <module name="scoring">
        <param name="lateArrival" value="-18" />
        <param name="performing" value="+6" />
        <parameterset type="scoringParameters">
            <parameterset type="activityParams">
                <param name="activityType" value="depot"/>
                <param name="typicalDuration" value="04:00:00"/>
            </parameterset>
            <parameterset type="activityParams">
                <param name="activityType" value="unload"/>
                <param name="typicalDuration" value="01:00:00"/>
            </parameterset>
            <parameterset type="modeParams">
                <param name="mode" value="car"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="-6.0"/>
            </parameterset>
            <parameterset type="modeParams">
                <param name="mode" value="pt"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="-6.0"/>
            </parameterset>
            <parameterset type="modeParams">
                <param name="mode" value="walk"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="-6.0"/>
            </parameterset>
        </parameterset>
    </module>

    <module name="replanning">
        <parameterset type="strategysettings">
            <param name="strategyName" value="ChangeExpBeta" />
            <param name="weight" value="0.9" />
        </parameterset>
        <parameterset type="strategysettings">
            <param name="strategyName" value="ReRoute" />
            <param name="weight" value="0.1" />
        </parameterset>
    </module>

</config>